#wrap.service {
  .main-visual {
    width: 100%;
    height: 650px;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #service {
    width: 100%;
    margin-bottom: 150px;
    padding: 150px 0 0;
    border: 5px solid $thin-gray;
    .service-content {
      margin: 0 auto 100px;
      width: 960px;
      display: flex;
      justify-content: space-between;
      .service-text {
        width: 50%;
        &__heading {
          height: 60px;
          margin-bottom: 30px;
          &__number {
            display: inline-block;
            width: 75px;
            height: 100%;
            font-size: 2rem;
            text-align: center;
            line-height: 60px;
            background: $dark-blue;
            color: $white;
          }
          &__title {
            display: inline-block;
            font-size: 1.8rem;
            padding-left: 20px;
            color: $dark-blue;
            line-height: 60px;
          }
        }
        &__desc {
          font-size: 1.6rem;
          letter-spacing: 0.2em;
          line-height: 1.8em;
          color: $light-gray;
        }
      }
      .service-list {
        width: 45%;
        height: fit-content;
        padding: 5% 4%;
        background: $thin-gray;
        &__heading {
          text-align: center;
          font-size: 1.8rem;
          margin-bottom: 40px;
          color: $dark-blue;
          &--text {
            text-align: center;
            font-size: 1.8rem;
            margin-bottom: 40px;
            color: $dark-blue;
          }
          span {
            padding: 0 25px;
          }
          i {
            color: $light-gray;
          }
        }
        &__content {
          font-size: 1.6rem;
          letter-spacing: 0.2em;
          line-height: 2.4em;
          color: $light-gray;
          margin-bottom: 30px;
        }
      }
    }
  }





  #point {
    margin: 0 auto 150px;
    width: 960px;
    .point-heading {
      font-size: 3rem;
      margin-bottom: 25px;
      &::after {
        display: block;
        content: '';
        margin-top: 5px;
        width: 120px;
        height: 2px;
        background: #AB5683;
      }
    }
    .point-desc {
      &__heading {
        font-size: 2rem;
        margin-bottom: 30px;
        color: $gray;
      }
      &__text {
        display: flex;
        justify-content: space-between;
        p {
          width: 45%;
          font-size: 1.6rem;
          letter-spacing: 0.2em;
          line-height: 1.8em;
        }
      }
    }
  }
  #company {
    padding: 100px 0;
    background: $thin-gray;
    .company-wrap {
      margin: 0 auto;
      width: 960px;
      display: flex;
      justify-content: space-between;
    }
    .company-date {
      width: 45%;
      &__heading {
        font-size: 3rem;
        margin-bottom: 30px;
        color: $gray;
      }
      &__desc {
        font-size: 1.6rem;
        color: $gray;
        line-height: 2.4em;
        dt {
          float: left;
          clear: left;
          &::after {
            content: '：';
          }
        }
        dd {
          float: left;
        }
      }
    }
    &__image {
      width: 45%;
    }
  }
}